.container {
  max-width: 900px;
  padding: 30px;

  .title {
    margin-bottom: 1.6em;
    text-align: center;
    font-size: 1.6em;
    color: #1e8449;
  }

  .greeting {
    margin-bottom: 1.8em;
    font-size: 1.2em;
  }

  .subtitle {
    margin-bottom: 0.7em;
    font-size: 1.1em;
  }

  .description {
    margin-bottom: 1.6em;
    font-size: 1em;
  }

  .farewell {
    font-size: 1.1em;
  }
}
